
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background:linear-gradient(#000000bd,#000000e7), url(../image/andyone--WW8jBak7bo-unsplash.jpg) center no-repeat;
    background-size: cover;
}

.logo{
    height: 80px;
    width: 80px;
    position: fixed;
    top: 20px;
    left: 50px;
}

.logo img{
    width: 100%;

}

.hamburger-menu{
    width: 35px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: fixed;
    top: 40px;
    right: 50px;
    cursor: pointer;
    z-index: 100;
}

.line{
    width: inherit;
    height: 5px;
    background-color: #16c3cf;
    border-radius: 25px;
}

.line-2{
    height: 3px;
}

.btn-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    perspective: 1000px;
}

.banner-btn{
    width: 350px;
    height: 100px;
    background: linear-gradient(#16c3cf , #156469);
    border: none;
    outline: none;
    font-family: serif;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
    text-shadow: 0 10px 10px black;
    cursor: pointer;
    transform: rotateX(70deg) rotateZ(30deg);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.banner-btn:hover{
    transform: rotateX(30deg) rotateZ(0deg);
}

.banner-btn::before{
    content: "";
    width: 100%;
    height: 15px;
    background-color:#156469;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotateX(90deg);
    transform-origin:bottom ;
}

.banner-btn::after{
    content: "";
    width: 15px;
    height: 100%;
    background-color:#16c3cf;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(-90deg);
    transform-origin:right;
}
.top-nav{
    height: 15vh;
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.8) , rgba(0,0,0,0.7)) ,url(../image/donald-giannatti-71mqMtrfYP8-unsplash.jpg) no-repeat 50% 0;
    background-size: cover;
    position:fixed;
    top: 0;
    z-index: 50;
}
.nav-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    width: 80%;
    background-color: #ccc;
    list-style-type: none;
    margin: auto;
}