.btn-wrapper{
    perspective: 1000px;
}
.banner-btn{
    width: 350px;
    height: 100px;
    background: linear-gradient(#16c3cf , #156469);
    border: none;
    outline: none;
    font-family: serif;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
    text-shadow: 0 10px 10px black;
    cursor: pointer;
    transform: rotateX(70deg) rotateZ(30deg);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.banner-btn:hover{
    transform: rotateX(30deg) rotateZ(0deg);
}

.banner-btn::before{
    content: "";
    width: 100%;
    height: 15px;
    background-color:#156469;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotateX(90deg);
    transform-origin:bottom ;
}

.banner-btn::after{
    content: "";
    width: 15px;
    height: 100%;
    background-color:#16c3cf;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(-90deg);
    transform-origin:right;
}